{{ form_start(form) }}
<div class="form-center">
  <div>
    {{ form_label(form.name) }}
  </div>
  <div>
    {{ form_widget(form.name) }}
  </div>
  <div>{{ form_errors(form.name) }}</div>
</div>
<div class="form-center">
  <div>
    {{ form_label(form.picture) }}
  </div>
  <div>
    {{ form_widget(form.picture, { attr: { class: "transparent"}}) }}
  </div>
  <div>{{ form_errors(form.picture) }}</div>
</div>
<div class="form-center">
  <div>
    {{ form_label(form.commentary) }}
  </div>
  <div>
    {{ form_widget(form.commentary) }}
  </div>
  <div>{{ form_errors(form.commentary) }}</div>
</div>
<div class="form-center">
  <div>
    {{ form_label(form.submit) }}
  </div>
  <div>
    {{ form_widget(form.submit) }}
  </div>
</div>
{{ form_end(form) }}
